/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/wjp2kcg.css");

@font-face {
    font-family: "komika";
    src: url(../public/fonts/komika/KOMIKASK.ttf);
}

/* ------------------------------ Variables ------------------------------ */
$purple: #7161F5;
$green: #61F570;
$red: #F57061;
$grey: #ABABAB;
$darker: #040117;
$dark: #000000;
$off_white: #F5F4FE;
$white: #FFFFFF;

// ---------- Fonts ----------
$header_font: 'komika',
sans-serif;
$text_font: 'komika',
sans-serif;

// ---------- Fluid fonts ----------
$paragraph: clamp(0.63rem, 0.91vw + 0.4rem, 1.13rem);
$header_4: clamp(0.7rem, 1.02vw + 0.45rem, 1.27rem);
$header_3: clamp(0.79rem, 1.15vw + 0.5rem, 1.42rem);
$header_2: clamp(0.89rem, 1.29vw + 0.57rem, 1.6rem);
$header_1: clamp(1rem, 1.46vw + 0.64rem, 1.8rem);

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
}

body {
    background: linear-gradient(90deg, $darker, $dark);
    color: $off_white;
    font-family: $text_font;
    font-size: $paragraph;
    margin: auto;
    user-select: none;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $header_font;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    color: $dark;
}

h1 {
    font-size: $header_1;
}

h2 {
    font-size: $header_2;
}

h3 {
    font-size: $header_3;
}

h4 {
    font-size: $header_4;
}

p {
    font-family: $header_font;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    color: $dark;
}

// ------------------- Canvas -------------------
.canvas {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

// ------------------- Scenes -------------------
.scene_1,
.scene_2,
.scene_3 {
    position: fixed;
}

// ------------------- Frames -------------------
.inner {
    border: 12px solid $white;

    &::after {
        content: '';
        border: 1px solid $dark;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.outer {
    border: 1px solid $dark;
}

// ------------------- Captions -------------------
.caption {
    position: relative;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    background: $white;
    color: $dark;
    border: 1px solid $dark;
    // box-shadow: 0 0 25px #00000050;
}

.caption_1,
.caption_2,
.caption_3 {
    position: absolute;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#opening {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 5px;
    background: $dark;

    .logo {
        width: 100%;
    }

    .subheader {
        padding-bottom: 25px;
    }

    .text {
        color: $off_white;
    }
}