@import '/styles/globals';

.container {
    position: fixed;
    width: 100%;
    height: 100%;

    .canvas {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

.view_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.view_2 {
    position: absolute;
    top: 5vh;
    right: 5vw;
    width: 40vw;
    height: 50vh;
    z-index: 2;
}

.view_3 {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    width: 40vw;
    height: 30vh;
    z-index: 3;
}

.inner {
    border: 1.5vh solid #ffffff;
    position: relative;
    z-index: -1;

    &::after {
        content: '';
        border: 1px solid #000000;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.outer {
    content: '';
    border: 1px solid #000000;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.writing {
    background: url('../public/svg/writing.svg');
    background-repeat: no-repeat;
    background-size: 85%;
    position: absolute;
}